.app-header {
    color: #d6d6d6;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: background-color 0.5s;
}

.app-header.app-header-background {
    background:rgba(7, 7, 7, 0.9);
}

.app-nav {
    width: 100%;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-search-input {
    width: 40px;
    height: 40px;
    border: none;
    background: url(./../../../images/search-icon.png) no-repeat center left 10px / 25px;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 5px;
    outline: none;
    padding-left: 40px;
    z-index: 2;
}

.nav-search-input.opened-input {
    width: 200px;
    background: url(./../../../images/search-icon.png) no-repeat center left 10px / 25px, rgba(105, 103, 103, 0.5);  
    position: relative; 
}

.nav-search-input:hover {
    background: url(./../../../images/search-icon.png) no-repeat center left 10px / 25px, rgba(141, 137, 137, 0.5);
}

.nav-links-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.nav-links-list > li > a {
    text-decoration: none;
    color: #d6d6d6;
    padding: 15px;
    font-weight: 400;
    transition: all 0.5s;
}

.nav-links-list > li > a:hover {
    color: #F15A25;
}

.fa-bars:before {
    margin-right: 5px;
}

.nav-logo img {
    width: 140px;
}

.header-static-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.header-static-part {
    width: 200px;
    background-color: #1b1b1b;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    padding: 5px 0;
    font-size: 18px;
    cursor: pointer;
}

.nav-links-list > li > a.nav-user-name {
    color: #F15A25;
}

.nav-content-link {
    position: relative;
}

.content-links-list {
    position: absolute;
    top: 100%;
    right: 0;
    background: rgba(41, 40, 40, 0.5);
    list-style-type: none;
    min-width: 200px;
    margin-top: 10px;
    display: none;
}

.nav-content-link:hover .content-links-list {
    display: block;
    animation: showLinks 1s;
}

@keyframes showLinks {
    from {
        opacity: 0%;        
    }

    to {
        opacity: 100%;
    }
}

.content-links-list li a {
    display: block;
    width: 100%;
    padding: 5px 10px;
    font-size: 14px;
    text-decoration: none;
    color: white;
    font-weight: 300;
    transition: all 0.5s;
}

.content-links-list > li > a:hover {
    background: rgba(167, 163, 163, 0.5);
    font-weight: 500;
}