.login-page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrapper {
    padding: 20px 0px;
    box-shadow: 0px 0px 5px black;
    width: 30%;
    background: rgb(255, 255, 255);
    border-radius: 10px;
}

.form-group,
.form-footer,
.form-button {
    width: 70%;
}

.form-group {
    margin: 0 auto 20px;
}

.form-group label,
.form-group input,
.form-button {
    display: block;
}

.form-group label {
    margin-bottom: 5px;
    cursor: pointer;
}

.form-group input {
    width: 100%;
    padding: 5px 0px 5px 10px;
    background: rgb(207, 209, 205);
    color: rgb(156, 147, 147);
    border: none;
}

.form-group input,
.form-button {
    height: 40px;
    border: none;
}

.form-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0 auto 10px;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    background: rgb(28, 78, 45);
    cursor: pointer;
    transition: backGround 0.5s;
}

.form-button:hover {
    color: rgb(10, 10, 10);
    background: rgb(79, 160, 106);
}

.form-footer {
    margin: 0 auto;
    font-size: 14px;
}

.form-footer a {
    text-decoration: none;
    color: rgb(79, 160, 106);
}

@media screen and (max-width: 1024px) {
    .form-wrapper {
        width: 45%;
    }
}

@media screen and (max-width: 768px) {
    .form-wrapper {
        width: 50%;
    }

    .form-group,
    .form-footer,
    .form-button {
        width: 80%;
    }
}

@media screen and (max-width: 600px) {
    .form-wrapper {
        width: 70%;
    }
}

@media screen and (max-width: 375px) {
    .form-wrapper {
        width: 90%;
    }
}