@import './../views//LoginForm/login-form.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background: rgb(22, 24, 23);
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

#root, .app-wrapper {
    width: 100%;
    height: 100%;
}

.app-wrapper {
    font-weight: 700;
    text-align: center;
}