@import "slick-carousel/slick/slick.css"; 
@import "slick-carousel/slick/slick-theme.css";

.carousel-slider-wrapper {
    padding: 10px 0px;
}

.carousel-slider-title {
    color: white;
    text-align: left;
    font-weight: 500;
    padding: 10px;
}

.carousel-slider {
    width: 100%;
    height: 200px;
}

.carousel-item-image {
    width: 100%;
    height: 100%;
}

.carousel-slider .slick-slide {
    margin: 0px 10px;
} 

.carousel-slider .slick-slide {
    width: 340px !important;
    height: 100%;
}

.slick-prev {
    left: 90vw;
    top: -25px;
}

.slick-next {
    right: 3vw;
    top: -25px;
}

.slick-prev, .slick-next {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    transition: all 0.5s;
}

.slick-prev:hover, .slick-next:hover {
    background:#F15A25;
}

.slick-prev::before,
.slick-next::before {
    font-size: 25px;
    color: rgba(228, 217, 217, 0.8);
    font-weight: 900;
    line-height: 10px;
}

.slick-prev::before {
    content: '\003C';
}

.slick-next::before {
    content: '\003E';
}

.carousel-item-wrapper {
    position: relative;
    cursor: pointer;
}

.carousel-item-info {
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: white;
    text-align: left;
    opacity: 0;
    transition: all 0.5s;
    padding: 10px;
}

.carousel-item-wrapper:hover .carousel-item-info {
    display: block;
    opacity: 1;
    background-image: linear-gradient(to bottom, rgba(253, 253, 253, 0.014), rgba(24, 23, 23, 0.7));
}

.carousel-item-title {
    text-transform: uppercase;
    transition: all 0.5s;
    font-weight: 500;
}

.carousel-item-title:hover {
    transition: all 0.5s;
    color: #F15A25;
}