.vod-detail-wrapper {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 80px 20px 20px 20px;
}

.vod-detail-info {
    width: 50%;
    text-align: left;
    padding: 20px;
}

.vod-detail-title {
    font-size: 25px;
    margin-top: 20px;
}

.vod-detail-genres {
    margin-bottom: 30px;
}

.vod-detail-genres span {
    font-weight: 300;
    font-size: 14px;
}

.vod-detail-genres span:first-child {
    padding-right: 10px;
    border-right: 1px solid white;
}

.vod-detail-genres span:last-child {
    padding-left: 10px;
    border-left: 1px solid white;
}

.vod-detail-genres span:nth-child(2) {
    padding: 0px 10px;
}

.vod-detail-overview {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
}

.vod-detail-item {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 300;
}

.vod-detail-item span:first-child {
    font-weight: 500;
    font-size: 18px;
}