@import "slick-carousel/slick/slick.css"; 
@import "slick-carousel/slick/slick-theme.css";

.banner-slider {
    width: 100%;
    height: 70vh;
}

.banner-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex !important;
    align-items: flex-end;
    padding: 40px 20px;
}
.slick-list, .slick-track, .slick-slide, .slick-slide > div {
    height: 100%;
}

.banner-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.banner-info {
    width: 40%;
    position: relative;
    z-index: 2;
    text-align: left;
}

.banner-title, .banner-description {
    color: white;
}

.banner-title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.banner-description {
    font-size: 16px;
    font-weight: 400;
}

.slick-dots {
    bottom: 20%;
}

.slick-dots li button:before {
    font-size: 20px;
    color: hsla(0 , 0%, 100%, 0.5);
}

.slick-dots li.slick-active button:before,
.slick-dots li button:hover:before {
    color: #f15a24;
}
